* {
  box-sizing: border-box;
}
/*div{
  background-image: url(../asset/vintage.jpg);
}*/
h1{
  color: #8c7e7e;
   background-image: url(../asset/vintage.jpg);
    padding:15px;
    text-align:center;
}
#calc-contain{
    position: relative;
    width: 400px;
    border: 2px solid #8c7e7e;
    border-radius: 12px;
    margin: 0px auto;
    padding: 20px 20px 100px 20px;
    
    background-image: url(../asset/wood.png);
    background-color: #cccccc;
  }
  #agh{
    position: relative;
    float: right;
    margin-top: 15px;
  }
  #agh p{
    font-size: 20px;
    font-weight: 900;
  }
  input[type=button] {

    background: transparent;
    width: 20%;
    font-size: 20px;
    font-weight: 900;
    
    color: #97d0c8;
   /* border: 10px solid;*/
    border-radius: 10px;
    background-image: url(../asset/greenButton.png);
    background-position: center;
    background-repeat: no-repeat;
   
   /* border-image-source: url(../asset/Level_500Border.png);
    border-image-slice: 250;*/
    margin-left: 13px;
    margin-top: 10px;
    background-color: azure;
  }
  input[type=button]:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  input[type=button]:hover {
    background-color: #003300;
    color: white;
  }
  
  input[type = text] {
    text-align: right;
    position: relative;
    display: block;
    width: 90%;
    margin: 5px auto;
    font-size: 20px;
    padding: 10px;
    box-shadow: 4px 0px 12px black inset;
  }
 

.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}
.main {
  float:left;
  width:100%;
  padding:0 20px;
  background-image: url(../asset/heart.gif);
  background-position: center;
  
  /*background-size: 100%;*/
 
}
.bodyHead{
  background-image: url(../asset/vintage.jpg);
}

.right {
  color: #463d3de0;
  
  background-image: url(../asset/vintage.jpg);
  background-color:#e5e5e5;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}
